.App {
  padding-top: 64px;
}

.container {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.placeholder {
  background-color: whitesmoke;
  border: 1px dashed red;
  height: 360px;
  width: 75%;
}
